.wrapper {
  max-width: 350px;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex_col {
  flex-direction: column;
}

.flex_between {
  justify-content: space-between;
}

.flex_center {
  justify-content: center;
  align-items: center;
}

.flex_justify-center {
  justify-content: center;
}

.flex_justify-end {
  justify-content: flex-end;
}
